@font-face {
    -fx-font-family: "Geologica Roman";
    src: url('/fonts/Geologica-Regular.ttf');
}

@font-face {
    -fx-font-family: "Geologica Roman Light";
    src: url('/fonts/Geologica-Light.ttf');
}

@font-face {
    -fx-font-family: "Geologica Roman Medium";
    src: url('/fonts/Geologica-Medium.ttf');
}

.model-view-page {
    -fx-background-color: transparent;
    -fx-spacing: 20;
}

.info-text {
    -fx-font-size: 18;
    -fx-text-fill: #1B018E;
    -fx-padding: 0 0 0 30;
}
