.main {
    -fx-min-width: 100vh;
}

.model-view-page {
    -fx-background-color: #ECF4FE;
    -fx-spacing: 20;
}

.instrument-sidebar {
    -fx-max-height: 0px;
    -fx-padding: 14;
    -fx-spacing: 10;
    -fx-background-color: #ECF4FE;
    -fx-opacity: 0.9;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 0, 3);
}

.sidebar-button {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-background-radius: 50%;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-padding: 0;
}

.sidebar-button:focused {
    -fx-background-color: #E0E6EE;
}

.sidebar-button:hover {
    -fx-background-color: #FAFCFE;
}

.navbar {
    -fx-alignment: center;
    -fx-padding: 50;
}

.logo-text {
    -fx-font-size: 18;
    -fx-text-fill: #1B018E;
    -fx-font-weight: bold;
}

.language-selector {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-background-radius: 15;
    -fx-padding: 4;
}

.language-selector:hover {
    -fx-border-color: #C4C8CE;
}

.right-toolbar {
    -fx-min-width: 195px;
    -fx-max-width: 195px;
    -fx-alignment: center-top;
    -fx-background-radius: 38;
    -fx-border-radius: 38;
    -fx-border-width: 1;
    -fx-border-color: #C9C9C9;
    -fx-padding: 40 16;
    -fx-background-color: #E7EDF2;
    -fx-spacing: 5
}

.h-box-coordinates {
   -fx-alignment: center;
   -fx-spacing: 50;
}

.v-box-colour-1 {
    -fx-background-color: #EAF4FF;
    -fx-background-radius: 5;
    -fx-border-color: #888888;
    -fx-border-radius: 5;
}

.v-box-colour-2 {
    -fx-background-color: #4B56B7;
    -fx-background-radius: 5;
}

.v-box-colour-3 {
    -fx-background-color: #1E0094;
    -fx-background-radius: 5;
}

.main-box-switches {
    -fx-padding: 0 0 10 0;
}

.load-button {
    -fx-background-color: #1E0094;
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-max-width: Infinity;
}

.load-button:hover {
    -fx-background-color: #1E00AA;
}

.info-text {
    -fx-font-size: 18;
    -fx-text-fill: #1B018E;
    -fx-padding: 100 0 0 30;
}
