
.instrument-sidebar {
    -fx-padding: 32px 17px;
    -fx-spacing: 18px;
    -fx-background-color: #E7EDF2;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.button {
    transition-property: -fx-background-color, -fx-min-width, -fx-min-height, -fx-max-width, -fx-max-height;
    transition-duration: 150ms;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-min-width: 26px;
    -fx-min-height: 26px;
    -fx-max-width: 26px;
    -fx-max-height: 26px;
    -fx-padding: 7px;
    -fx-stroke: #0E0E0E;
}

.button:focused {
    -fx-background-color: #130452;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.button:focused > .button {
    -fx-stroke: #FAFCFE;
}

.button:hover {
    -fx-background-color: #1E0094;
    -fx-stroke: #FAFCFE;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.button:hover > .button {
    -fx-stroke: #FAFCFE;
}

.button-selected {
    -fx-background-color: #130452;
    -fx-stroke: #FAFCFE;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.button-selected:hover {
    -fx-background-color: #1E0094;
    -fx-stroke: #FAFCFE;
}

.button-selected:hover > .button {
    -fx-stroke: #FAFCFE;
}
