.navbar {
    -fx-alignment: center;
    -fx-padding: 50;
}

.logo-text {
    -fx-font-size: 18;
    -fx-text-fill: #1B018E;
    -fx-font-weight: bold;
}

.language-selector {
    -fx-background-color: #EAF4FF;
    -fx-text-fill: #0E0E0E;
    -fx-min-width: 50px;
    -fx-min-height: 20px;
    -fx-max-width: 50px;
    -fx-max-height: 20px;
    -fx-background-radius: 2;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 1;
}

.language-selector .list-cell {
    -fx-font-size: 13px;
    -fx-alignment: center-left;
    -fx-background-color: #EAF4FF;
    -fx-text-fill: #0E0E0E;
    -fx-min-width: 50px;
    -fx-min-height: 20px;
    -fx-max-width: 50px;
    -fx-max-height: 20px;
    -fx-padding: 0 0 0 1;
}

.language-selector .list-cell:hover{
    -fx-background-color: #E5E5E5;
}

.language-selector .list-cell:hover:selected {
    -fx-background-color: #EAF4FF;
}

.list-view {
    -fx-background-color: #EAF4FF;
    -fx-alignment: center-left;
    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-padding: 0 0 0 1;
}
