.navbar {
    -fx-background-color: #CF1A23;
    -fx-alignment: center;
    -fx-padding: 50;
}

.logo-text {
    -fx-font-size: 18;
    -fx-text-fill: #1B018E;
    -fx-font-weight: bold;
}

.language-selector {
    -fx-background-color: #EAF4FF;
    -fx-min-width: 70px;
    -fx-min-height: 30px;
    -fx-max-width: 70px;
    -fx-max-height: 30px;
    -fx-background-radius: 2;
}

.language-selector .list-cell {
    -fx-font-size: 13px;

    -fx-font-weight: bold;
    -fx-alignment: center-left;

    -fx-min-width: 70px;
    -fx-min-height: 30px;
    -fx-max-width: 70px;
    -fx-max-height: 30px;
}

.language-selector .list-cell:selected {
    -fx-font-weight: bold;
}

.language-selector:hover {
    -fx-border-color: #C4C8CE;
}
